<table class="table table-sm table-striped">
    <tr>
    <th>Name</th><th>Category</th><th>Price</th>
    <th>Studio</th><th>Ratings</th>
    </tr>
    <tr *ngFor="let movie of movies">
    <td>{{movie.name}}</td>
    <td>{{movie.category}}</td>
    <td>{{movie.price}}</td>
    <td>{{movie.studio?.name || 'None'}}</td>
    <td>{{movie.ratings?.length || 0}}</td>
    </tr>
</table>
<button class="btn btn-primary m-1" (click)="createMovie()">
    Create Movie
    </button>
    <button class="btn btn-primary m-1" (click)="createMovieAndStudio()">
    Create Movie and Studio
</button>
<!-- Replacement Buttons -->
<button class="btn btn-primary m-1" (click)="replaceMovie()">
    Replace Movie
  </button>
  <button class="btn btn-primary m-1" (click)="replaceStudio()">
    Replace Studio
</button>
<button class="btn btn-primary m-1" (click)="updateMovie()">
    Update Movie
</button>
<button class="btn btn-primary m-1" (click)="deleteMovie()">
    Delete Movie
  </button>
  <button class="btn btn-primary m-1" (click)="deleteStudio()">
    Delete Studio
</button>


    
